.service-page-img-div {
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
    background-image: url('../../assets/Service/service-pages-header.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
}

.shape-svg-container {
    width: 100%;
    position: absolute;
    bottom: -1px;
    z-index: 1;
    color: white;
    pointer-events: none;
}

.shape-svg-container > svg{
    height: 66px;
    width: 100%;
}
.service-page-main-hd{
    color: #fff;
    font-weight: 700;
    font-size: 88px;
}

.service-page-card-div{
    width: 100%;
}

.sub-service-page-card-div{
    width: 100%;
    margin-top: 200px;
}

.service-page-card-img-div{
    width: 40%;
    height: 550px;
    position: relative;
}

.service-page-card-text-div{
    width: 60%;
    padding: 100px;
}
.service-page-card-text-div > h1{
    color: #091D3E;
    font-size: 45px;
    font-weight: 700;
}
.service-page-card-text-div > h2{
    border-color: #088BED;
    border-style: solid;
    border-width: 0px 0px 0px 5px;
    font-size: 25px;
    padding: 0px 65px 0px 28px;
    margin: -4px 0px 0px 3px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.service-page-card-text-div > p{
    font-size: 20px;
}

.service-page-card-img{
    width: 100%;
    height: 100%;
}

.service-page-card-icon-div{
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: -70px;
    left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cfb53b;
    box-shadow: 0px 0px 0px 50px #FFFFFF;;
}

.service-page-card-icon-div-2{
    position: absolute;
    width: 40%;
    height: 40%;
    bottom: 0;
    display: flex;
    align-items: flex-end;
}

.img-div-service{
    width: 50%;
    height: 100%;
}

.img-service{
    width: 100%;
    height: 100%;
}

.counter-div-service-page{
    padding: 70px 0px 70px 0px;
    width: 100%;
}


@media screen and (max-width: 768px) {
    .service-page-img-div {
        height: 269px;
    }

    .sub-service-page-card-div{
        flex-direction: column;
    }

    .service-page-card-img-div{
        width: 100%;
    }

    .service-page-card-text-div{
        padding: 0;
        width: 100%;
    }

    .sub-service-page-card-div {
        margin-top: 30px;
    }

    .mt-100px{
        margin-top: 100px;
    }

    .service-page-main-hd{
        font-size: 48px;
    }
}