.main-navbar {
    height: 80px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.nav-links {
    font-weight: 600 !important;
    font-size: 16px !important;
}

.nav-links:hover {
    border-bottom: 2px solid var(--golden-color);
    color: var(--golden-color) !important;
    margin-bottom: -1px;
}

.nav-active-link {
    color: var(--golden-color) !important;
}

.nav-logo-img {
    /* width: 220px; */
    height: 80px;
    /* margin-top: 10px; */
}