.carousel-div {
    width: 100%;
    height: 92vh;
    position: relative;
    background-color: white;
}

.carousel-image {
    width: 100%;
    height: 100%;
}

.text-div-carousel {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 40%;
}

.carousel-text-h1 {
    color: var(--golden-color);
    font-weight: 700;
    font-size: 48px;
}

.carousel-text-p {
    color: #fff;
    font-size: 28px;
    max-width: 500px;
    font-weight: 500;
}

@media screen and (max-width:992px){
    .carousel-div{
        height: 70vh;
    }
}

@media screen and (max-width:575px){
    .carousel-div{
        height: 55vh;
    }
    .text-div-carousel {
        top: 35%;
    }
}

@media screen and (max-width:375px){
    .text-div-carousel {
        top: 20%;
    }
}
@media screen and (max-width:253px){
    .text-div-carousel {
        top: 10%;
    }
}